body {
	background-color: white;
	margin: auto;
	width: 300px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;

}
html{
	background-color: lightgray;
}

/*Navigation*/
nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	padding-top: 20px;
	z-index: 1;
	position: relative;
	display: block;
	
	
}

nav ul li {
	float: left;
	width: 20%;
	text-align: center;
	height: 100%;
}

nav ul li a:link, 
nav ul li a:visited {
	display: inline-block;
	width: 75%;
	height: 100%;
	background-color: lightgrey;
	text-decoration: none;
	color: black;
	font-size:20px;
}


#nav{
	background-image: url("header.jpg");
	background-repeat: repeat-x;
	display: block;
	height: 60px;
	
}

